*{
    margin: 0;
    padding: 0;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.page {
  max-width: 1600px;
  margin: 0 auto;
}
header{
    background-color: rgba(251, 251, 251, 1);
    
}
.logo{
    width: 139px;
    height: 60px;
}
nav .menu{
    list-style-type: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;

}

nav{
    padding: 16px 120px 16px 120px;
    width: 1600px 92px;
    display: flex;
    max-width: 79%;
    justify-content: space-between;
    align-items: center;
}

.btn{
    background-color:#30B868;
    list-style-type: none;
    border: none;
    border-radius: 4px;
    width: 164px;
    height: 44px;
    
    
}

.btn li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 16px;
    
}
